<!DOCTYPE html>
<html>
    <head>
        <title>Virtual Trainer</title>
    </head>
    <body>
		<div style="width: 500px; margin: auto; font-size: 30px; padding-top: 80px; padding-bottom: 80px;">
			<fieldset name="Video File Upload and Display"
			style="border-radius: 15px 50px; background-color: lightblue; border-style: solid;text-align:center; border-color: black; border-width: 2px;">
				{% if msg %} {% autoescape off %} {{ msg }} {% endautoescape %} {% endif %}
				<form method="post" action="/" enctype="multipart/form-data">
					{% csrf_token %}
					<p>
						<label>Select a video file</label>
						<input type="file" name="file" autocomplete="off" required>
					</p>
					<label style="padding: 10px;" for="lang">Select exercise </label>
					<select name="exercises" id="lang" style="font-size: 20px;">
						<option value="1">Sqaut</option>
						<option value="2">Bicep</option>
					</select>
					<p>
						<input style="padding: 10px 20px; font-size: 18px; border-radius: 15px; background-color: whitesmoke; border-color: black;" 
						type="submit" value="Upload and analyze your exercise">
					</p>
				</form>
			</fieldset>
			
			{% if filename %}
				<p></p>
				<p></p>
				<p></p>
				<label style="padding-top: 30px;">Correct form of exercise:</label>
				<div style="margin: 10px auto;">
					<video autoplay="autoplay" controls="controls" width="600" height="700" preload="preload" loop muted>
						<source src="{{ MEDIA_URL }}/{{ filename }}" type="video/mp4"></source>
					</video>
				</div>
			{% endif %}
		</div>	
    </body>
</html>